p,
label {
  font-family: 'Lato', 'Helvetica', 'Arial', sans-serif !important;
}
.ac-container {
  display: flex;
  flex-direction: 'row';
  font-family: 'Lato', 'Helvetica', 'Arial', sans-serif !important;
  padding: 0 10px;
}
.ac-image {
  border-radius: 4px;
}
.ac-adaptiveCard {
  border: 1px solid #f2f2f2;
}

.ac-pushButton {
  color: #fff !important;
  background-color: #12bcc5 !important;
  margin: 8px !important;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12) !important;
  padding: 6px 16px !important;
  font-size: 0.875rem !important;
  min-width: 64px !important;
  box-sizing: border-box !important;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
  font-family: 'Lato', 'Helvetica', 'Arial', sans-serif !important;
  font-weight: 500 !important;
  line-height: 1.75 !important;
  border-radius: 4px !important;
  letter-spacing: 0.02857em !important;
  text-transform: uppercase !important;
  border: 1px solid #3fe5ed !important;
}
.ac-pushButton:hover {
  background-color: #25406b !important;
}

input[type='date'] {
  outline: none;
  height: 20px;
  padding: 5px;
  font-size: 12px;
}
.attachment.bubble {
  background: #fff !important;
  border: none !important;
}

.content {
  position: relative;
}
.webchat__row.message {
  position: relative;
}
.from-user .bubble {
  background-color: #0063b1 !important;
  margin-right: 8px !important;
  border-radius: 5px 0px 5px 5px !important;
  color: #fff !important;
}

.avatar {
  background-color: #fff !important;
}
.from-user .avatar {
  background-color: #0063b1 !important;
}
/* .from-user .bubble:after {
  border-width: 0px 0 10px 10px;
  border-color: transparent transparent transparent #0063b1;
  top: 1px;
  right: 0;
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
} */

.ac-columnSet {
  align-items: center !important;
}

.ac-textBlock {
  font-size: 16px !important;
  font-family: 'Lato', 'Helvetica', 'Arial', sans-serif !important;
}

select.ac-input.ac-multichoiceInput.ac-choiceSetInput-compact {
  font-size: 16px !important;
  height: 30px;
}

input[type='radio'],
input[type='checkbox'] {
  transform: scale(2) !important;
  margin: 10px 0 !important;
}
