.connectionStatus {
  padding-top: 20px;
  margin-left: 5%;
  font-size: 1.5em;
}
.subscriber {
  margin-left: 10%;
}
.publisher {
  float: right;
  margin-right: 10%;
}
.OTPublisherContainer,
.OTSubscriberContainer {
  width: 100% !important;
  height: 100% !important;
}

/* div.videoRoot:first-child {
  height: 100vh;
} */

#error {
  color: red;
}

@media screen and (min-width: 361px) and (max-width: 480px) {
  .OTSubscriberContainer,
  .OTPublisherContainer {
    width: 100% !important;
    height: 100% !important;
  }
}
@media screen and (min-width: 414px) and (max-width: 480px) {
  .OTSubscriberContainer,
  .OTPublisherContainer {
    width: 100% !important;
    height: 100% !important;
    /* margin-left: -0.9rem !important; */
  }
}

@media screen and (min-width: 481px) and (max-width: 960px) {
  .OTSubscriberContainer,
  .OTPublisherContainer {
    width: 100% !important;
    height: 100% !important;
    /* margin-left: -1.7rem !important; */
  }
}

.OT_fit-mode-cover .OT_video-element {
  object-fit: contain !important;
}
